#root,html,body{
    margin:0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.card {
     float: none;
    box-shadow: 7px 7px;
    font-size: 20px;
    position: relative;
    display: block;
    margin-top: 100px;  
    overflow: visible;
   z-index: 5;
   
    
    
}
.app{
    height: 100%;
    background: url('./image/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    padding-top: 50px;
  

}
.card-body{
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.thaifont{
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}
.title{
    margin-bottom: 350px;
    font-size: 60px;
    color: rgb(49, 12, 12);
    position:absolute;
    text-decoration: underline;
    text-decoration-color: rgb(255, 72, 93);
    top: 80px;
    z-index: 15;
}
.card:hover ~ .title {
    transform: translateY(20px); /* ขยับลง 20px */
    transition: transform 0.3s ease-in-out;
}
.title:hover{
    box-shadow: #ee7dbf;
}
button{
    transition-duration: 0.2s;
    border:1px;
    color: black;
    border-radius: 8px;
    padding: 10px 24px;
}
.button:hover {
    background-color: #e081b9; 
    color: rgb(255, 255, 255);
  }
  img {
    border-radius: 8px;
    width:50px;
     height:100;
    
  }
